#Set twitch properties to configure PircBotX Client

#Application name. This must be unique across all Kafka connectors used by the customer.
name=twitch_chat_message
#Source connector class
connector.class=kafkaconnector.ChatMessageSourceConnector
#max tasks
tasks.max=1
#kafka topic name
topic=twitch
#Your twitch.tv username
channel.username=testaccount
#Your oauth password from http://twitchapps.com/tmi
oauth=oauth:YOUR_KEY
#Target twitch channel, this property is used to get the chat message stream
channel=#CHANNEL_NAME
#Target twitch channel name
target.channel.username=TARGET_CHANNEL_USERNAME
